* {
    box-sizing: border-box;
  }

  body {
    background-color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 54px auto;
  }

  .main {
    width: 1025px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .forca {
    width: 400px;
  }

  .jogo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .botao-escolha {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    border: 0;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
  }

  .direita {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: space-between;
  }

  .resposta {
    font-size: 50px;
    letter-spacing: 10px;
  }

  .letras {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    width: 65%;
    gap: 10px;
  }

  .letra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #798A9F;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
  }

  .bloqueado {
    background-color: #9FAAB5;
  }

  .ativo {
    background-color: #E1ECF4
  }

  .preto {
    color: black;
  }

  .verde {
    color: green;
  }

  .vermelho {
    color: red;
  }